.buildpath
.DS_Store
.idea/
.project
.vim.custom
.tests
.settings/
.*.iml
.*.sw*
.*.un~
composer.phar
nbproject
/data/
!/data/build/pdepend/.gitkeep
!/data/cache/.gitkeep
!/data/cache/hydrators/.gitkeep
!/data/log/.gitkeep
!/data/migration/.gitkeep
!/data/sitemap/.gitkeep
tmp/
vendor/
tests/integration/phpunit.xml
tests/unit/phpunit.xml
Capfile
# patterns from apigility .gitignore not included in our set
._*
.~lock.*
public/vendor/
public/vendor/*
!public/vendor/README.md
.php.tags
public/docs/json/*
!public/docs/json/.gitkeep
diagram.mwb.bak
svp.diagram.mwb.bak
phpspec.yml
behat.yml
.php_cs.cache
auth.json
cs_fixer_tmp_*
